<%- include('../partials/header.ejs', {name: myUser.username}) %>
    <h1><%= myUser.username %></h1>
    <img src= <%= myUser.profilePicture %> alt="Profile Picture">
    <h2>Full Name: <%= myUser.fullName %></h2>
    <h2>Email: <%= myUser.email %></h2>
    <h2>Bio: <%= myUser.bio %></h2>
    <a href="/users/<%= myUser._id %>/edit">Edit this User's Information</a>
    <a href="/users/<%= myUser._id %>/delete">Delete this User</a>
<%- include('../partials/footer.ejs') %>