<%- include('../partials/header.ejs', {name: myUser.username, userLoggedIn}) %>
    <h1><%= myUser.username %></h1>
    <img src= <%= myUser.profilePicture %> alt="Profile Picture">
    <h2>Full Name: <%= myUser.fullName %></h2>
    <h2>Email: <%= myUser.email %></h2>
    <h2>Bio: <%= myUser.bio %></h2>

    <% if (myUser.posts.length > 0) { %>
        <h3>Posts: </h3>
        <ul>
            <% myUser.posts.forEach(post => { %>
                <li>
                    <a href="/users/<%= myUser._id %>/posts/<%= post._id %>">
                        <img src="<%= post.image %>" alt="<%= post.caption %>" style="max-width: 200px; max-height: 200px;">
                        <%= post.caption %>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>User has no posts yet.</p>
    <% } %>


<% if (typeof userLoggedIn != "undefined" && userLoggedIn.id == myUser._id) { %>
    <a href="/users/<%= myUser._id %>/edit">Edit this User's Information</a>
    <a href="/users/<%= myUser._id %>/delete">Delete this User</a>
    
    
    <a href="/users/<%= myUser._id %>/posts/new" class="upload-post-button">Upload Post</a>
<% } %>
<%- include('../partials/footer.ejs') %>