<%- include('../partials/header.ejs') %>

<h1>Delete Post</h1>

<p>Are you sure you want to delete this post?</p>

<form action="/users/<%= userLoggedIn.id %>/posts/<%= post._id %>?_method=DELETE" method="POST">

  <button type="submit">Yes</button>
</form>

<a href="/users/<%= userLoggedIn.id %>/posts/<%= post._id %>">No</a>

<%- include('../partials/footer.ejs') %>