<% if (userLoggedIn) { %>
  <%- include('../partials/header.ejs', {name: userLoggedIn.username + " is editing", userLoggedIn}) %>
<% } else { %>
  <%- include('../partials/header.ejs', {name: "Please Log in", userLoggedIn}) %>
<% } %>

<!-- Form for editing post -->
<div class="edit-post-container">
  <h1 class="edit-post-header">Edit Post</h1>

  <form action="/users/<%= userLoggedIn.id %>/posts/<%= post._id %>?_method=PUT" method="POST">
    <div class="form-group">
      <label for="caption" class="form-label">Caption:</label>
      <input type="text" id="caption" name="caption" class="form-input" value="<%= post.caption %>">
    </div>
    <div class="form-group">
      <label for="location" class="form-label">Location:</label>
      <input type="text" id="location" name="location" class="form-input" value="<%= post.location %>">
    </div>
    <div class="form-group">
      <label for="image" class="form-label">Image Link:</label>
      <input type="text" id="image" name="image" class="form-input" value="<%= post.image %>">
    </div>
    <button type="submit" class="button-primary">Save Changes</button>
  </form>
</div>


<%- include('../partials/footer.ejs') %>