<%- include('../partials/header.ejs') %>

<h1>All Posts</h1>

<ul>
  <% Posts.forEach(function(post) { %>
    <li>
      <div class="post">
        <h2><a href="/users/<%= post.user._id %>/posts/<%= post._id %>"><%= post.caption %></a></h2>

        <img src="<%= post.image %>" alt="Post image" width="300">
        <p>Location: <%= post.location %></p>
      </div>
    </li>
  <% }); %>
  
</ul>

<%- include('../partials/footer.ejs') %>




